
@font-face{
    font-family: Nunito;
    src: url('/fonts/Nunito/static/Nunito-Medium.ttf');
}
@font-face{
    font-family: Roboto;
    src: url('/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}
@font-face{
    font-family: Playfair;
    src: url('/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}
