/* @import url('/fonts.css');
:root{
    --Nunito: 'Nunito', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: var(--Nunito);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    font-weight: 600;
} */
@import url('/fonts.css');

:root{
    --Nunito: 'Nunito', cursive;

    --yellow: linear-gradient(21deg, #000046 0%, #0404a4 50%, #0505fd 100%);
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

*{
    font-family: var(--Nunito);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--yellow);
    letter-spacing: .1rem;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #eee;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color: var(--black);
    font-size: 2.6rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--yellow);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--yellow);
}

header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover{
    color: #fff;
    background: var(--yellow);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}
.home-content{
    max-width: 80rem;
}
.home-content h1{
    margin-top: 20rem;
    font-size: 4.5rem;
    color: #ffffff;
    font-weight: normal;
    text-shadow: 2px 3px 4px #555555;
}
.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0;   
    color: #ffffff;
}
.btn1{
    border: 2.5px solid #ffffff;
    background: none;
    color: #ffffff;
    display: block;
    margin: 50px 0;
    width: fit-content;
    padding: 8px 10px;
    border-radius: 2px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 800;
    transition: scale .2 ease;
}

.btn1:hover{
    background: #ffffff;
    padding: 7px 12px;
    font-weight: 100;
    color: #080808;
    scale: 1.05;
    font-weight: 800;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn1:active{
    scale: 0.95;
}

.btn1 i{
    margin-left: 20px;}
@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
}

@media (max-width: 991px){
    html{
        font-size: 50%;
    }
}
